html{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    display:inline;
    color: rgb(80, 84, 90);
    text-align: center;
    vertical-align: center;
    font-size: 500%;
}

svg{
    display: inline;
    width: 7%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
}

header{
    background-color: white;
    padding: 1%;
}

nav{
    background-color: rgb(34, 52, 75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}   

.nav-button{
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    font-size: 30px;
    padding: 2%;
    display: inline;
    border-color: rgb(78, 88, 102);
    border-style: solid;
    border-top: none;
    border-bottom: none;
}