html{
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: #2e4972;
  margin: 0;
}

header::after{
  content: '';
  display: block;
  clear: both;
  margin: 0;
}

.container-nav{
  width: 80%;
  margin: 0 auto;
  display: block;
}

svg{
  width: 10%;
  height: auto;
  margin: 2%;
  float: left;
}

ul{
  overflow: hidden;
  list-style-type: none;
  margin: 1%;
  margin-top: 3%;
  padding: 0;
  float: right;
}

li{
  float: left;
}

li a{
  display: block;
  color: rgb(182, 188, 192);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: rgb(182, 188, 192);
  color:  #2e4972;
}

body {
  margin: 0;
}

.home{
  background: rgb(182, 188, 192);
  margin:0
}



  

